{% if site.post_copyright.enable %}
  <ul class="post-copyright">
    <li class="post-copyright-author">
      <strong>{{ __.post.copyright.author | append: __.symbol.colon }}</strong>
      {{ site.author }}
    </li>
    <li class="post-copyright-link">
      <strong>{{ __.post.copyright.link | append: __.symbol.colon }}</strong>
      <a href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.url | absolute_url }}</a>
    </li>
    <li class="post-copyright-license">
      <strong>{{ __.post.copyright.license_title | append: __.symbol.colon }} </strong>
      {{ __.post.copyright.license_content | replace_first: '%s', site.post_copyright.license_url | replace_first: '%s', site.post_copyright.license }}
    </li>
    <li class="post-announce-note">
      <strong>{{ site.post_announce_note.announce_title }} </strong>
      {{ site.post_announce_note.announce_note }}
    </li>
  </ul>
  <script>
    function addLink() {
      var body_element = document.body;
      var selection;
      //var selection = window.getSelection();
      var blogName = '[王政乔]'; // 此处修改成你自己网站的名称
      selection = window.getSelection() ? window.getSelection() : document.selection.createRange().htmlText;
      if (window.clipboardData) { // Internet Explorer
        var pagelink = "\n\n 原文出自" + blogName + " 转载请保留原文链接: " + document.location.href + "";
        var copyText = selection + pagelink;
        window.clipboardData.setData("Text", copyText);
        return false;
      } else {
        var pagelink = "\n\n 原文出自" + blogName + " 转载请保留原文链接: " + document.location.href + "";
        var copyText = selection + pagelink;
        var newDiv = document.createElement('div');
        newDiv.style.position = 'absolute';
        newDiv.style.left = '-99999px';
        body_element.appendChild(newDiv);
        newDiv.innerHTML = copyText;
        selection.selectAllChildren(newDiv);
        window.setTimeout(function () {
          body_element.removeChild(newDiv);
        },
          0);
      }
    }
    document.oncopy = addLink;
  </script>
{% endif %}
